<!DOCTYPE html>
<html>
<head>
<title>my todo list</title>
</head>
<body>
<h2 style="color:lightskyblue;text-align:center;text-decoration:underline">MY TODO LIST</h2>
<ul>
{%for todo in my_todos %}
<li 
style="color:darkgrey">{{todo}}
    <form method="post" action="/delete_todo/{{loop.index0}}">
        <input type="submit" value="delete">
    </form>
</li>
{%endfor%}
</ul>

<form method="post">
    <input name= "new_todo">
    <input type = "submit">
</form>

</body>
</html>